.form {
  display: flex;
  flex-direction: column;
  > * { //all children direct desendent of .form (not the children of its children).
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}